<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="cmd"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="cmd"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ComponentsDiagramFile.gif"
         extensions="cmd"
         default="true"
         class="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditor"
         matchingStrategy="ac.soton.fmusim.components.diagram.part.ComponentsMatchingStrategy"
         contributorClass="ac.soton.fmusim.components.diagram.part.ComponentsDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="ac.soton.fmusim.components.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ComponentsDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="ac.soton.fmusim.components.diagram.part.ComponentsCreationWizard"
  	     id="ac.soton.fmusim.components.diagram.part.ComponentsCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="ac.soton.fmusim.components.diagram.InitDiagram"
            nameFilter="*.cmp"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="ac.soton.fmusim.components.diagram.part.ComponentsInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="ac.soton.fmusim.components.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ComponentsPresentation">
         <Priority name="Lowest"/>
         <ViewId id="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ComponentsPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ComponentsRender">
         <Priority name="Lowest"/>
         <ViewId id="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="ac.soton.fmusim.components.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="ac.soton.fmusim.components.diagram.general"
            name="%prefpage.ac.soton.fmusim.components.diagram.general"
            class="ac.soton.fmusim.components.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="ac.soton.fmusim.components.diagram.appearance"
            name="%prefpage.ac.soton.fmusim.components.diagram.appearance"
            category="ac.soton.fmusim.components.diagram.general"
            class="ac.soton.fmusim.components.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="ac.soton.fmusim.components.diagram.connections"
            name="%prefpage.ac.soton.fmusim.components.diagram.connections"
            category="ac.soton.fmusim.components.diagram.general"
            class="ac.soton.fmusim.components.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="ac.soton.fmusim.components.diagram.printing"
            name="%prefpage.ac.soton.fmusim.components.diagram.printing"
            category="ac.soton.fmusim.components.diagram.general"
            class="ac.soton.fmusim.components.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="ac.soton.fmusim.components.diagram.rulersAndGrid"
            name="%prefpage.ac.soton.fmusim.components.diagram.rulersAndGrid"
            category="ac.soton.fmusim.components.diagram.general"
            class="ac.soton.fmusim.components.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="ac.soton.fmusim.components.diagram"
            labelProvider="ac.soton.fmusim.components.diagram.sheet.ComponentsSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="ac.soton.fmusim.components.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="ac.soton.fmusim.components.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="ac.soton.fmusim.components.diagram.sheet.ComponentsPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="components"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Components"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2006,3001,3002,3009,3003,3004,3010,3013"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Components"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2006,3001,3002,3009,3003,3004,3010,3013"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5004,5005,5006,5007,5010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.ComponentDiagramEditPart" id="ComponentDiagram_1000"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.FMUComponentEditPart" id="FMUComponent_2001"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.EventBComponentEditPart" id="EventBComponent_2002"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.ConnectorEditPart" id="Connector_2003"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.DisplayComponentEditPart" id="DisplayComponent_2006"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.FMUPortEditPart" id="FMUPort_3001"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.FMUPort2EditPart" id="FMUPort_3002"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.FMUVariableEditPart" id="FMUVariable_3009"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.EventBPortEditPart" id="EventBPort_3003"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.EventBPort2EditPart" id="EventBPort_3004"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.EventBVariableEditPart" id="EventBVariable_3010"/>
         <object class="ac.soton.fmusim.components.diagram.edit.parts.DisplayPortEditPart" id="DisplayPort_3013"/>
         <context elements="ComponentDiagram_1000,FMUComponent_2001,EventBComponent_2002,Connector_2003,DisplayComponent_2006,FMUPort_3001,FMUPort_3002,FMUVariable_3009,EventBPort_3003,EventBPort_3004,EventBVariable_3010,DisplayPort_3013"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.ComponentDiagram_1000"
               name="%metatype.name.ComponentDiagram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentDiagram"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.ComponentDiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.FMUComponent_2001"
               name="%metatype.name.FMUComponent_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FMUComponent"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.FMUComponentEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.EventBComponent_2002"
               name="%metatype.name.EventBComponent_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EventBComponent"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.EventBComponentEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.Connector_2003"
               name="%metatype.name.Connector_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Connector"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.ConnectorEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.DisplayComponent_2006"
               name="%metatype.name.DisplayComponent_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DisplayComponent"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.DisplayComponentEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.FMUPort_3001"
               name="%metatype.name.FMUPort_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FMUPort"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.FMUPortEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <specializationType
               id="ac.soton.fmusim.components.diagram.FMUPort_3002"
               name="%metatype.name.FMUPort_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="ac.soton.fmusim.components.diagram.FMUPort_3001"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.FMUVariable_3009"
               name="%metatype.name.FMUVariable_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FMUVariable"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.FMUVariableEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.EventBPort_3003"
               name="%metatype.name.EventBPort_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EventBPort"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.EventBPortEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <specializationType
               id="ac.soton.fmusim.components.diagram.EventBPort_3004"
               name="%metatype.name.EventBPort_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="ac.soton.fmusim.components.diagram.EventBPort_3003"/>
            <param name="semanticHint" value="3004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.EventBVariable_3010"
               name="%metatype.name.EventBVariable_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EventBVariable"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.EventBVariableEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <metamodelType
               id="ac.soton.fmusim.components.diagram.DisplayPort_3013"
               name="%metatype.name.DisplayPort_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DisplayPort"
               edithelper="ac.soton.fmusim.components.diagram.edit.helpers.DisplayPortEditHelper">
            <param name="semanticHint" value="3013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <specializationType
               id="ac.soton.fmusim.components.diagram.PortConnector_4001"
               name="%metatype.name.PortConnector_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4001"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="ac.soton.fmusim.components.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="ac.soton.fmusim.components.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="ac.soton.fmusim.components.diagram.TypeContext">
         <elementType ref="ac.soton.fmusim.components.diagram.ComponentDiagram_1000"/>
         <elementType ref="ac.soton.fmusim.components.diagram.FMUComponent_2001"/>
         <elementType ref="ac.soton.fmusim.components.diagram.EventBComponent_2002"/>
         <elementType ref="ac.soton.fmusim.components.diagram.Connector_2003"/>
         <elementType ref="ac.soton.fmusim.components.diagram.DisplayComponent_2006"/>
         <elementType ref="ac.soton.fmusim.components.diagram.FMUPort_3001"/>
         <elementType ref="ac.soton.fmusim.components.diagram.FMUPort_3002"/>
         <elementType ref="ac.soton.fmusim.components.diagram.FMUVariable_3009"/>
         <elementType ref="ac.soton.fmusim.components.diagram.EventBPort_3003"/>
         <elementType ref="ac.soton.fmusim.components.diagram.EventBPort_3004"/>
         <elementType ref="ac.soton.fmusim.components.diagram.EventBVariable_3010"/>
         <elementType ref="ac.soton.fmusim.components.diagram.DisplayPort_3013"/>
         <elementType ref="ac.soton.fmusim.components.diagram.PortConnector_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="ac.soton.fmusim.components.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="ac.soton.fmusim.components.diagram"
           properties="isURIEditorInput"
           class="ac.soton.fmusim.components.diagram.part.ComponentsUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="ac.soton.fmusim.components.diagram.resourceContent"/>
			<contentExtension pattern="ac.soton.fmusim.components.diagram.domainResourceContent"/>
            <contentExtension pattern="ac.soton.fmusim.components.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="ac.soton.fmusim.components.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="ac.soton.fmusim.components.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorContentProvider" 
            labelProvider="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorLabelProvider"
            icon="icons/obj16/ComponentsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="cmd"/>
               </and>
               <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="ac.soton.fmusim.components.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="ac.soton.fmusim.components.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="ac.soton.fmusim.components.diagram.navigatorSorter" 
               class="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="cmd"/>
                  </and>
                  <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="ac.soton.fmusim.components.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="ac.soton.fmusim.components.diagram.navigator.ComponentsDomainNavigatorContentProvider" 
            labelProvider="ac.soton.fmusim.components.diagram.navigator.ComponentsDomainNavigatorLabelProvider"
            icon="icons/obj16/ComponentsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="cmp"/>
               </and>
               <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="ac.soton.fmusim.components.diagram.navigatorActionProvider"
            class="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="ac.soton.fmusim.components.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="ac.soton.fmusim.components.diagram.navigatorLinkHelper"
            class="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="ac.soton.fmusim.components.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="ac.soton.fmusim.components.diagram.part.ComponentsDiagramUpdateCommand"
         description="%update.diagram.description"
         id="ac.soton.fmusim.components.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="ac.soton.fmusim.components.diagram.updateDiagram"
         contextId="ac.soton.fmusim.components.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="ac.soton.fmusim.components.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="ac.soton.fmusim.components.diagram.edit.parts.ComponentDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="ac.soton.fmusim.components.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID"
         defaultHandler="ac.soton.fmusim.components.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsMarkerNavigationProvider">
         <MarkerType name="ac.soton.fmusim.components.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

<extension id="diagnostic" name="Components Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension><extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsValidationDecoratorProvider">
         <Priority name="Medium"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>
<extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="ac.soton.fmusim.components.diagram.providers.ComponentsShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002,2003,2006"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

<extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="ac.soton.fmusim.components.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="ac.soton.fmusim.components.diagram"
           properties="isShortcut"
           class="ac.soton.fmusim.components.diagram.part.ComponentsShortcutPropertyTester">
       </propertyTester>
   </extension>



   <!-- optionally, specify keybindings -->
</plugin>
