<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.emf.persistence.synchroniser">
      <emfPackage
            name="Components Package"
            nsURI="http://soton.ac.uk/models/fmusim/components/1.0">
         <synchroniser
               emf_class="EventBComponent"
               name="FMU Info for Event-B Machine"
               rodin_id="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension"
               synchroniser_class="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtensionSynchroniser">
         </synchroniser>
      </emfPackage>
   </extension>

</plugin>
