<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ac.soton.fmusim.components.ui.commands.category"
            name="FmuSim Components Category">
      </category>
      <command
            id="ac.soton.fmusim.components.ui.commands.Simulate"
            name="Simulate">
      </command>
      <command
            id="ac.soton.fmusim.components.ui.commands.Import"
            name="Import">
      </command>
      <command
            id="ac.soton.fmusim.components.ui.commands.Validate"
            name="Validate">
      </command>
      <command
            id="ac.soton.fmusim.components.ui.commands.SimulateStep"
            name="Simulate Step">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.fmusim.components.ui.commands.ImportComponentCommand"
            commandId="ac.soton.fmusim.components.ui.commands.Import">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ac.soton.fmusim.components.ui.commands.SimulateCommand"
            commandId="ac.soton.fmusim.components.ui.commands.Simulate">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ac.soton.fmusim.components.ui.commands.ValidateCommand"
            commandId="ac.soton.fmusim.components.ui.commands.Validate">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ac.soton.fmusim.components.ui.commands.SimulateStepCommand"
            commandId="ac.soton.fmusim.components.ui.commands.SimulateStep">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="ac.soton.fmusim.components.diagram.part.ComponentsDiagramEditorID">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ac.soton.fmusim.components.ui.toolbar">
            <command
                  commandId="ac.soton.fmusim.components.ui.commands.Import"
                  icon="icons/Import.gif"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="ac.soton.fmusim.components.ui.commands.Validate"
                  icon="icons/Validate.gif"
                  label="Validate"
                  style="push">
            </command>
            <command
                  commandId="ac.soton.fmusim.components.ui.commands.Simulate"
                  icon="icons/Simulate.gif"
                  label="Simulate"
                  style="push">
            </command>
            <command
                  commandId="ac.soton.fmusim.components.ui.commands.SimulateStep"
                  icon="icons/SimulateStep.gif"
                  label="Simulate Step"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eventb.emf.core.machine.Machine"
            class="ac.soton.fmusim.components.ui.resource.ComponentAdapterFactory">
         <adapter
               type="ac.soton.fmusim.components.Component">
         </adapter>
      </factory>
      <factory
            adaptableType="de.prob.cosimulation.FMU"
            class="ac.soton.fmusim.components.ui.resource.ComponentAdapterFactory">
         <adapter
               type="ac.soton.fmusim.components.Component">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eventb.core.basis.MachineRoot"
            class="ac.soton.fmusim.components.ui.resource.EObjectAdapterFactory1">
         <adapter
               type="org.eclipse.emf.ecore.EObject">
         </adapter>
      </factory>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.adapterFactories">
      <factory
            class="ac.soton.fmusim.components.provider.ComponentsItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.fmusim.components.ui.navigator.diagramContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <actionExtension
                  pattern="ac.soton.fmusim.components.diagram.navigatorActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="ac.soton.fmusim.components.ui.navigator.actionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="ac.soton.fmusim.components.ui.navigator.NavigatorComponentsDiagramContentProvider"
            id="ac.soton.fmusim.components.ui.navigator.diagramContent"
            labelProvider="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorLabelProvider"
            name="Components Diagram"
            priority="high">
         <possibleChildren>
            <or>
               <instanceof
                     value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem">
               </instanceof>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
                  <test
                        property="ac.soton.fmusim.components.diagram.isShortcut">
                  </test>
               </adapt>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="cmd">
                  </test>
               </and>
            </or>
         </possibleChildren>
         <commonSorter
               class="ac.soton.fmusim.components.diagram.navigator.ComponentsNavigatorSorter"
               id="ac.soton.fmusim.components.diagram.navigatorSorter">
            <parentExpression>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="cmd">
                     </test>
                  </and>
                  <instanceof
                        value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem">
               </instanceof>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
                  <test
                        property="ac.soton.fmusim.components.diagram.isShortcut">
                  </test>
               </adapt>
            </or>
         </triggerPoints>
      </navigatorContent>
      <commonWizard
            type="new"
            wizardId="ac.soton.fmusim.components.diagram.part.ComponentsCreationWizardID">
         <enablement></enablement>
      </commonWizard>
      <actionProvider
            class="ac.soton.fmusim.components.ui.navigator.NavigatorComponentsDiagramActionProvider"
            id="ac.soton.fmusim.components.ui.navigator.actionProvider">
         <enablement>
            <and>
               <instanceof
                     value="ac.soton.fmusim.components.diagram.navigator.ComponentsAbstractNavigatorItem">
               </instanceof>
               <adapt
                     type="org.eclipse.gmf.runtime.notation.View">
                  <test
                        property="ac.soton.fmusim.components.ui.isComponentDiagram">
                  </test>
               </adapt>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.fmusim.components.ui.properties.ComponentsPropertyTester"
            id="ac.soton.fmusim.components.ui.ComponentsPropertyTester"
            namespace="ac.soton.fmusim.components.ui"
            properties="isComponentDiagram"
            type="org.eclipse.gmf.runtime.notation.View">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="ac.soton.fmusim.components.ui.providers.ComponentsDiagramEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
         <object
               class="ac.soton.fmusim.components.diagram.edit.parts.ComponentDiagramEditPart(ac.soton.fmusim.components.diagram)"
               id="ComponentDiagramEditPart">
         </object>
         <context
               editparts="ComponentDiagramEditPart">
         </context>
      </editpolicyProvider>
   </extension>

</plugin>
